<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= current_page.data.title || data.meta.title %></title>
    <% if current_page.data.description %>
    <meta name="description" content="<%= current_page.data.description %>" />
    <% end %>
    <% if current_page.data.keywords %>
    <meta name="keywords" content="<%= current_page.data.keywords.join(',') %>" />
    <% end %>
    <meta name="author" content="Luke Antins">

    <link rel="shortcut icon" href="/favicon.ico">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700|Geo" rel="stylesheet" type="text/css">

    <%= stylesheet_link_tag 'livid' %>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
      <script src="/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!--[if lt IE 7]>
      <p class="outdatedbrowser">You are using an outdated browser :(<br><a href="http://browsehappy.com/">Upgrade your browser</a> for a better and safer internet experience.</p>
    <![endif]-->

    <div id="wrap">

      <div class="top-bar">
        <%= partial 'navbar' %>
      </div>

      <section>
        <!-- PAGE CONTENT: START -->
        <%= yield %>
        <!-- PAGE CONTENT: END -->
      </section>

    </div>

    <footer id="footer" class="navbar-inverse">
      <div class="container">

        <div class="row">
          <div class="col-xs-8">
            <span class="footer-copyright">&copy; 2008-2014 Livid Penguin</span>
          </div>
          <div class="col-xs-4">
            <ul class="footer-links">
              <li><a href="#">Top</a></li>
            </ul>
          </div>
        </div>

      </div> <!-- /container -->
    </footer>

    <%= google_analytics_universal_tag %>

    <script type="text/javascript">
    var clicky_site_ids = clicky_site_ids || [];
    clicky_site_ids.push(100874860);
    (function() {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = '//static.getclicky.com/js';
      ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
    })();
    </script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100874860ns.gif" /></p></noscript>

  </body>
</html>
